.button {
  width: 230px;
  height: 51px;
  background: #ffc318;
  border-radius: 50px;
  color: black;
  border: none;
  padding: 0px 20px;

  outline: none;
  font-weight: normal;
  font-family: "Alata", sans-serif;
  font-size: 18px;
}

.buttonr:active {
  color: #eee;
  background: #76aabc;
  box-shadow: black;
}
