.dropdown {
  background: #ffc318;
  padding: 7px 20px;
  border-radius: 50px;
  border: none;
  margin-left: 89px;
  margin-right: 89px;
  font-family: "Alata", sans-serif;
  font-size: 18px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.center {
  display: flex;
  justify-content: center;
}
