.nav {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  justify-content: space-between;
  width: 15%;
}

.profil {
  width: 32px;
  height: 35px;
  right: 90%;
}

.panier {
  width: 35px;
  height: 36px;
  right: 90px;
}
