.nav {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
}

.profil {
  width: 32px;
  height: 35px;
  right: 70px;
  left: 20px;
}

.panier {
  width: 35px;
  height: 36px;
  right: 90px;
}
